<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhangyc.ipc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <permission android:name="com.zhangyc.aidl.SERVICEAILD"
        android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BundleActivity"
             android:process=":remote"
            android:exported="true"/>
        <!--   : 该应用的私有进程              不加 ：  全局进程-->
        <!--  android:exported="true" 支持外部应用打开 -->
        <service android:name=".AidlService" android:exported="true"
            android:permission="com.zhangyc.aidl.SERVICEAILD">
            <intent-filter>
                <action android:name="com.zhangyc.ipc.aidl"/>
            </intent-filter>
        </service>

        <provider
            android:authorities="com.zhangyc.ipc.provider"
            android:name=".MyContentProvider"
            android:permission="com.zhangyc.aidl.SERVICEAILD"
            android:exported="true"
            />
    </application>

</manifest>